.wrapper-chat {
  width: 400px;
  margin-left: 10px;
  border: 1px solid gray;
  padding: 10px;
}
input {
  width: 99%;
  margin-bottom: 5px;
}

textarea {
  resize: none;
}
#chat {
  width: 400px;
  height: 200px;
  border: 1px solid gray;
  margin-bottom: 5px;
}
#chat p {
  margin-top: 4px;
  margin-bottom: 4px;
}
